# Files to ignore when adding and committing files to a repository
.DS_Store
Thumbs.db

*.py[cod]
*$py.class

# virtualenv
.venv1/
venv1/
.venv/
venv/

# PyCharm
.idea
__pychache__/

# Pycache
__pycache__/