# ----------------------
# Flask
# ----------------------
wheel
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
PyJWT==2.0.1
flask_login
# ----------------------
# Production Server
# ----------------------
gunicorn
