# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
wheel-0.36.2
# ----------------------
# Production Server
# ----------------------
gunicorn
