<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details Page - TEST</title>

    <link rel="stylesheet" href="../static/css/car_id.css">
    <script src="https://kit.fontawesome.com/238a67abd4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="flexing">
        <div class="car-card">
            <div class="car-image">
                <img src="../static/images/BMW M4 GTS - Test Image.jpg" alt="Image of Car">
            </div>
            <div class="car-details">
                <h1 class="make">2018 Tesla</h1>
                <h3 class="model">Model S</h3>
                
                <p class="details">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam cum corrupti veritatis distinctio qui sed aperiam dolorum, dolore eos, cumque, repudiandae mollitia quisquam omnis quaerat nesciunt. Fuga cumque expedita maiores ullam enim ratione, doloremque omnis suscipit dolore exercitationem fugiat modi impedit aliquam vel repellat voluptas tempore dignissimos aliquid? Nesciunt, expedita.
                </p>

                <div class="other-details">
                    <div class="item">
                        <p class="key">Color</p>
                        <p class="value">Red</p>
                    </div>
                    <div class="item">
                        <p class="key">Price</p>
                        <p class="value">$62,888</p>
                    </div>
                    <div class="item">
                        <p class="key">Body Type</p>
                        <p class="value">Sedan</p>
                    </div>
                    <div class="item">
                        <p class="key">Transmission</p>
                        <p class="value">Automatic</p>
                    </div>
                </div>

                <div class="base">
                    <a href="#" class="email">Email Owner</a>
                    <i class="far fa-heart"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>